.ModalBackground {
  background-color: rgba(15, 23, 42, 0.72);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  z-index: 10;
}
