.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}

.TodoCounter--loading {
  color: #A5A5A5;
  opacity: 25%;
}